<a href="https://colab.research.google.com/github/LCaravaggio/AnalisisCuantitativoAvanzado/blob/main/RegLin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import numpy as np
     

import json
from google.colab import drive

!mkdir ~/.kaggle
!touch ~/.kaggle/kaggle.json

drive.mount('/content/drive', force_remount=True)
with open("/content/drive/My Drive/kaggle.json", 'r') as f:
    api_token= json.load(f)

with open('/root/.kaggle/kaggle.json', 'w') as file:
    json.dump(api_token, file)

!chmod 600 ~/.kaggle/kaggle.json

!kaggle datasets download -d quantbruce/real-estate-price-prediction

mkdir: cannot create directory ‘/root/.kaggle’: File exists
Mounted at /content/drive
real-estate-price-prediction.zip: Skipping, found more recently modified local copy (use --force to force download)

In [28]:
import zipfile
import os

os.listdir()

for file in os.listdir():
    if file.endswith('.zip'):
      zip_ref = zipfile.ZipFile(file, 'r')
      zip_ref.extractall()
      zip_ref.close()

In [29]:
df = pd.read_csv('/content/Real estate.csv')

In [30]:
df

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [31]:
# Con pocas líneas de código puedo correr una RL sobre los datos
from sklearn.linear_model import LinearRegression
X = df.drop('Y house price of unit area', axis=1) 
y = df['Y house price of unit area']

reg = LinearRegression().fit(X, y)
score = reg.score(X, y)

In [32]:
score

0.5833632616324717

In [98]:
# Con esto puedo ver la relación, puedo buscar también hacer una predicción.
from sklearn.linear_model import LinearRegression
X = df.drop('Y house price of unit area', axis=1) 
y = df['Y house price of unit area']

reg = LinearRegression().fit(X[:-1], y[:-1])
score = reg.score(X[:-1], y[:-1])

In [99]:
reg.predict(X[-1:])

array([52.87855662])

In [100]:
# Podría, como vimos, generar más variables
for x in X.columns:
    X['%s_2' % x] = X[x]*X[x]
    X['%s_3' % x] = X[x]**3
    X['%s_4' % x] = X[x]**4
    X['%s_5' % x] = X[x]**5

In [101]:
reg = LinearRegression().fit(X, y)
score = reg.score(X, y)

In [102]:
# El score debería mejorar
score

0.6778634522226332

In [81]:
 # ¿Mejora la predicción?

In [82]:
reg = LinearRegression().fit(X[:-1], y[:-1])
score = reg.score(X[:-1], y[:-1])

In [83]:
score

0.6785030449382465

In [84]:
reg.predict(X[-1:])

array([54.90978497])

In [85]:
reg.coef_

array([ 5.55694069e-06, -7.30276726e-04, -2.35126980e-05, -5.88146611e-04,
        2.95616013e-05, -2.52704884e-11, -2.01899080e-11,  2.80319590e-04,
       -3.36209246e-06,  1.23377120e-08, -1.43039825e-11, -5.65331727e-10,
       -5.69197720e-07, -4.14836011e-07,  1.65007296e-10, -4.23365430e-04,
       -4.77930024e-03,  2.27905179e-04, -2.76834734e-06, -1.84225683e-05,
        1.10106312e-08, -2.26175661e-12,  1.53138127e-16,  1.90962933e-04,
        1.00961690e-03,  3.97731036e-03, -3.78109001e-04, -1.19258729e-10,
        4.33606541e-08,  3.02723613e-06,  1.43643953e-04, -3.57327786e-09,
       -4.34258658e-07, -3.51830312e-05,  2.09506381e-07])

In [103]:
from sklearn.model_selection import train_test_split
X = df.drop('Y house price of unit area', axis=1) 
y = df['Y house price of unit area']
X_train, X_test, y_train, y_test=train_test_split(X,y)

In [106]:
reg = LinearRegression().fit(X_train, y_train)
score = reg.score(X_train, y_train)
score

0.5608719913319222

In [107]:
score = reg.score(X_test, y_test)
score

0.653570145794022

In [133]:
X = df.drop('Y house price of unit area', axis=1) 
y = df['Y house price of unit area']

In [134]:
for x in X.columns:
    X['%s_2' % x] = X[x]*X[x]
    X['%s_3' % x] = X[x]**3

In [135]:
X_train, X_test, y_train, y_test=train_test_split(X,y)

In [136]:
reg = LinearRegression().fit(X_train, y_train)
score = reg.score(X_train, y_train)
score

0.6715557494222187

In [137]:
score = reg.score(X_test, y_test)
score

0.7493573771045376